*{
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}
button{
	padding: 0;
}
h1,h2,h2,h4,h5{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
/*****Container*****/
.container{
	width: 100%;
	max-width: 1230px;
	padding: 0px 15px;
}
/******Header******/
.header{
	width: 100%;
	height: auto;
	background: url(../img/header_img.jpg);
	-webkit-background-size: cover;
    background-size: cover;
	background-repeat: no-repeat;  
}
#header__top.fixed {
	position: fixed;
}
.header__logo a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
}
.header__logo{
	padding-top: 20px;
}
.header__nav-link{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	transition: color 0.2s linear;
	vertical-align: top;
	position: relative;
}
.header__nav a:hover{
	color: #fce38a;
}
.header__nav a:hover:after{
	display: block;
}
.header__nav-link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	display: none;
}
.header__nav{
	padding-top: 25px;
	margin: 0;
}
.header__nav a+a{
	margin-left: 55px;
}
.header__nav img{
	padding-bottom: 10px;
}
.header__inner{
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}
.header__inner-top{
	font-family:'Kaushan Script', cursive;
	font-size: 72px;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
	margin-top: 160px; 
}
.header__inner-main{
	font-size: 150px;
	line-height: 140px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
}
.header__inner-main:after{
	content: "";
	display: block;
	width: 10%;
	height: 5px;
	background-color: #fff;
	position: absolute;
	top: 115%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.header__inner-btn{
	text-decoration: none;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin: 125px auto 0px auto;
	padding: 15px 30px;
	border: 3px solid #fff;
}
.header__inner-btn a:hover{
	color: #fce38a;
}
.header__bottom{
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.bottom__item{
	width: 100%;
	position: relative;
}
.bottom__item:before{
	content: "";
	position: absolute;
	display: block;
	width: 80%;
	height: 5px;
	top: -20px;
	left: 0;
	background-color: #fff;
	z-index: 1;
}
.header__bottom span{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #fff;
	margin-right: 7px;
}
.header__bottom-link{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.header__bottom-link:hover{
	color: #fff;
}
/*******Section WEDO****/
.wedo{
	width: 100%;
	max-height: 1020px;
	/*background-image: linear-gradient(to top, #95e1d3 100%,#95e1d3 0%);*/
}
.wedo__title-top{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
	margin-top: 90px;
}
.wedo__title-main{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	text-align: center;
	margin-top: 20px;
	position: relative;
}
.wedo__title-main:after{
	content: "";
	position: absolute;
	width: 70px;
	height: 5px;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f38181;
	display: block;
	z-index: 1;
}
.wedo__content{
	width: 960px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	text-align: center;
	margin: 90px auto 0px auto;
}
.wedo__gallery{
	display: flex;
	justify-content: space-between;
	height: auto;
	margin-top: 102px;
}
.wedo__gallery-item{
	background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
	transition: opacity .5s;
	position: relative;
}
.wedo__gallery-item:hover{
	transform: translate3d(-10px, -10px, 0);
	box-shadow: 10px 10px #95e1d3;
}
.wedo__gallery-item img{
	transition: .4s;
	display: block;
	width: 100%;
	height: auto;
}
.wedo__gallery-item:hover img{
	opacity: 0.3;
}
.wedo__gallery-item:hover .gallery__text{
	opacity: 1;
}
.gallery__text{
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .4s;
}

/*******Section WEDO BOT****/
.wedo_bot{
	margin-top: 110px;
	height: 270px;
	background-color: #95e1d3;
}
.wedo_items{
	display: flex;
	justify-content: space-between;
}
.wedo__item-title{
	text-align: center;
	font-size: 72px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	padding: 90px 0px 30px;
}
.wedo__item{
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	width: 100%;
	height: 100%;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.wedo__item:last-child{
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/*********Services********/
.services{
	height: 650px;
	margin-top: 110px;
}
.services__top-subtitle{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
}
.services__top-title{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-top: 25px;
	text-align: center;
	position: relative;
}
.services__top-title::after{
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.services__content{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 110px;

	position: relative;
}

.services__content:after {
	content: "";
	width: 100%;

	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
	background-color: #e5e5e5;
}

.content__item{
	padding: 0px 30px 0px 90px;
	position: relative;
}

.content__item:nth-child(n+4) {
	margin-top: 100px;
}

.content__item-title{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
	padding-bottom: 18px;
}
.content__item-text{
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}
.content__item-text img{
	position: absolute;
	top: 0;
	left: 30px;
}

/**********Design*********/
.design{
	height: 850px;
	background-image: linear-gradient(0.0deg, rgba(255,255,255,0.85),rgba(255,255,255,0.85) 100%),url(../img/background_all_devices.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.design__top-subtitle{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
	padding-top: 110px;
}
.design__top-title{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-top: 25px;
	text-align: center;
	position: relative;
}
.design__top-title::after{
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.design__img1{
	height: 580px;
	width: 475px;
	position: absolute;
	left: 50%;
	bottom: 2px;
	transform: translateX(-55%);
}
.design__img2{
	height: 440px;
	position: absolute;
	left: 50%;
	bottom: -55px;
}

/**********Service*********/

.service{
	background-color: #fff;
	height: 900px;
}
.service__top-subtitle{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
	padding-top: 110px;
}
.service__top-title{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-top: 25px;
	text-align: center;
	position: relative;
}
.service__top-title::after{
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.service__top-text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	padding-top: 90px;
	text-align: center;
	width: 955px;
	margin: 0 auto;
}
.service__content{
	display: flex;
	justify-content: space-between;
	padding-top: 95px;
}
.service__toggle{
	width: 100%;
	width: 600px;
}
.service__toggle-item{
	padding-bottom: 10px;
	z-index: 4;
}
.service__content-img{
	padding-right: 30px;
}
.toggle__inner-text{
	overflow-y: scroll;
	border: 1px solid #e5e5e5;
	border-top: none;
	padding-left: 8px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear,height 0.5s;
}
.toggle__inner-text::-webkit-scrollbar{
	width: 5px;
	height: 140px;
	background-color: #f5f5f5;
	border-radius: 2.5px;
	visibility: visible;
}
.toggle__inner-text::-webkit-scrollbar-thumb{
	width: 5px;
	height: 90px;
	background-color: #95e1d3;
	border-radius: 2.5px;
	visibility: visible;
}
.service__toggle-item button{	
	border: 1px solid #e5e5e5;
  	background-color: transparent;
  	cursor: pointer;
  	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
	width: 100%;
	text-align: left;
	z-index: 2;
}
.service__toggle-item img{
	padding: 15px;
	z-index: 1;
}
.show {
  display: block;
  opacity: 1;
  visibility: visible;
  height: 163px;
}
/*********SLIDER********/
.slider{
	height: 320px;
	width:100%;
	background-color: #f8f8f8;
	
}
.slider-line{
	overflow: hidden;
	position: relative;
}	
.slider__inner{
	padding-top: 70px;
	display: flex;
	width: 3600px;
	left: 0;
	position: relative;
	transition: left 0.4s linear;
}
.slider__item{
	width: 100%;
	width: 1200px;
	display: flex;
	justify-content: center;
}
.slider-img{
	height: 150px;
	width: 150px;
	margin: 0px 60px 50px 50px;
	padding: 45px 42px;
	border: 3px solid #95e1d3;
}
.slider__content{
	width: 800px;
}
.slider-text{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	font-style: italic;
	color: #999999;
	padding-top: 10px;
}
.slider-author{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	margin-top: 22px;
	padding-left: 70px;
	position: relative;
}
.slider-author::before{
	content: "";
	width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.slick_next{
	left: 1190px;
	border:none;
	position: absolute;
	top:50%;
	z-index: 2;
	color: #fff;
}
.slick_next::before{
	position: absolute;
	content: url(../img/arrow_next.png);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.slick_prev{
	position: absolute;
	top:50%;
	z-index: 2;
	color: #fff;
	left: 20px;
	border:none;
}
.slick_prev::before{
	position: absolute;
	content: url(../img/arrow___down_copy_2_500.png);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pos_btns{
	position: absolute;
	bottom: 10px;
	left: 50%;
}
.pos_btn{
	height: 15px;
	width: 15px;
	border: 1px solid black;
	border-radius: 15px;	
}


/*********TEAM********/
.team{
	height: 1050px;
}
.team__top-subtitle{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
	padding-top: 100px;
}
.team__top-title{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-top: 25px;
	text-align: center;
	position: relative;
}
.team__top-title::after{
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.team__top-text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	padding-top: 90px;
	text-align: center;
	width: 955px;
	margin: 0 auto;
}
.team__gallery{
	display: flex;
	justify-content: space-between;
	height: 470px;
	margin-top: 102px;
}
.team__gallery img{
	width: 100%;
	height: auto;
}
.team__gallery-design,
.team__gallery-branding,
.team__gallery-developer{
	position: relative;
}

.design_hide{
	background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%),url(../img/designer.jpg);
	position: absolute;
	width: 380px;
	height: 470px;
	top: -10px;
	left: -10px;
	background-size: cover;
	box-shadow: 10px 10px #95e1d3;
	display: block;
	transition: all 0.4s;
	opacity: 0;
}
.design_hide:hover{
	opacity: 1;
}
.branding_hide{
	background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%),url(../img/branding.jpg);
	position: absolute;
	width: 380px;
	height: 470px;
	top: -10px;
	left: -10px;
	background-size: cover;
	box-shadow: 10px 10px #95e1d3;
	display: block;
	transition: all 0.4s;
	opacity: 0;
}
.branding_hide:hover{
	opacity: 1;
}
.developer_hide{
	background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%),url(../img/developer.jpg);
	position: absolute;
	width: 380px;
	height: 470px;
	top: -10px;
	left: -10px;
	background-size: cover;
	box-shadow: 10px 10px #95e1d3;
	display: block;
	transition: all 0.4s;
	opacity: 0;
}
.developer_hide:hover{
	opacity: 1;
}
.design_main img:hover,
.branding_main img:hover,
.developer_main img:hover
{
	opacity: 0;
}
.soc_icons{
	display: flex;
	width: 224px;
	height: 56px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fce38a;
	transform: translate(-50%,-50%);
	justify-content: space-between;
}
.soc_icons a{
	display: block;
	height: 100%;
	width: 100%;
}
.soc_icons-facebook,
.soc_icons-twitter,
.soc_icons-pinterest,
.soc_icons-instagram{
	width: 56px;
	height: 56px;
	text-align: center;
	padding-top: 14px;
	border: 1px solid #f38181;
}
.soc_icons-facebook{
	background: url(../img/facebook_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-facebook:hover{
	background: url(../img/facebook_icon_change.png),#f38181;
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-twitter{
	background: url(../img/twitter_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-twitter:hover{
	background: url(../img/twitter_icon_change.png),#f38181;
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-pinterest{
	background: url(../img/pinterest_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-pinterest:hover{
	background: url(../img/pinterest_icon_change.png),#f38181;
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-instagram{
	background: url(../img/instagram_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.soc_icons-instagram:hover{
	background: url(../img/instagram_icon_change.png),#f38181;
	background-repeat: no-repeat;
	background-position: center center;
}
.gallery__person{
	font-family: Montserrat;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
	text-align: center;
	padding-top: 30px;
}
.gallery__person-job{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	font-style: italic;
	color: #999999;
	text-align: center;
	padding-top: 15px;
}
.logos{
	height: 250px;
	background-color: #f8f8f8;
}
.logos_images{
	padding-top: 50px;
}
.logos__inner-img{
	display: block;
	width: 100%;
	height: auto;
}
/*********pictureExp********/
.pictureExp__top{
	height: 410px;
}
.pictureExp__top-subtitle{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
	padding-top: 110px;
}
.pictureExp__top-title{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-top: 25px;
	text-align: center;
	position: relative;
}
.pictureExp__top-title::after{
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.pictureExp__top-text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	padding-top: 90px;
	text-align: center;
	width: 955px;
	margin: 0 auto;
}
.pictureExp__gal-inner{
	display: flex;
	max-width: 1920px;
}
.pictureExp__gal-col{
	flex: 1 1 0;
}
.gal__inner-item{
	background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
	position: relative;
}
.gal__inner-item img{
	transition: 0.4s;
	display: block;
	width: 100%;
	height: auto;
}
.gal__inner-item:hover img{
	opacity: 0.2;
}
.gal__inner-item:hover .gal__info{
	opacity: 1;
}
.gal__info{
	width: 100%;
	padding: 0px 15px;

	text-align: center;
	color: #fff;

	position: absolute;
	top: 50%;
	left: 0;
	
	transform: translate3d(0, -50%, 0);
	
	opacity: 0;
	transition: 0.4s;
}
.gal__inner-title{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.gal__inner-text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	font-style: italic;
}
/********clients*******/
.clients{
	height: 830px;
	background: url("../img/clients_bcg.png");
	background-image: cover;
	background-repeat: no-repeat;
}
.clients .pictureExp__top{
	height: auto;
	padding-bottom: 70px;
}
.reviews{
	display: flex;
	flex-wrap: wrap;
}
.reviews__item{
	width: 50%;
	position: relative;
	padding: 50px 45px 0px 175px;
}
.reviews__item-img{
	position: absolute;
	width: 110px;
	height: 110px;
	top: 70px;
	left: 40px;
}
.reviews__item-name{
	padding-top: 12px;
}
.reviews__item-prof{
	padding-top: 15px;
	position: relative;
}
.reviews__item-prof::after{
	content: "";
	position: absolute;
	display: block;
	bottom: -22px;
	left: 0;

	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.reviews__item-text{
	padding-top: 45px;
}
/********BLOG*******/
.section__blog{
	height: 770px;
}

.blog__top-suptitle{
	font-family: 'Kaushan Script';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
	padding-top: 100px;
}
.blog__top-title{
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	margin-top: 25px;
	text-align: center;
	position: relative;
	margin-bottom: 90px;
}
.blog__top-title::after{
	content: "";
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 3px;
	background-color: #f38181;
}
.blog__content{
	display: flex;
	justify-content: space-between;
}
.blog__content-item{
	position: relative;
	padding-right: 30px;
}
.blog__content-item:last-child{
	padding-right: 0px;
}
.blog__image-info{
	width: 60px;
	height: 70px;
	top: 160px;
	left: -5px;
	position: absolute;
	background-color: #95e1d3;
	text-align: center;
	padding-top: 10px;
}
.blog__image-number{
	display: block;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.blog__image-month{
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	text-transform: none;
	color: #fff;
}
.blog__content-title{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
	padding-top: 20px;
}
.blog__content-text{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	padding-top: 15px;
}
.blog__content-stat{
	padding-top: 42px;
	position: relative;
}
.blog__content-stat::before{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	position: absolute;
	top: 35%;
	right: 0;
}
.blog-views{
	position: relative;
	padding-left: 20px;
}
.blog-views:before{
	content: "\e9ce";
	font-family: 'icomoon';
	position: absolute;
	top: -2.5px;
	left: 0;
	color: #95e1d3;
}
.blog-comments{
	position: relative;
	padding-left: 40px;
}
.blog-comments:before{
	content: "\e96e";
	font-family: 'icomoon';
	position: absolute;
	top: -2.5px;
	left: 20px;
	color: #95e1d3;
}
/*******MAP*******/
.map{
	height: 200px;
	text-align: center;
	padding: 60px 0px;
}
.section--map{
	background-color: #e6e6e6;
}
.map__title{
	font-style: 24px;
	color: #f38181;
	font-weight: 700;
}
.map a{
	color: inherit;
	position: relative;
	text-decoration: none;
}
.map__icon:before{
	content: "\e947";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	left: -40px;
	color: inherit;
}

/*******Footer******/
.footer{
	padding-top: 65px;
	background-color: #f8f8f8;
}
.footer__inner{
	padding-bottom: 65px;
	display: flex;
	justify-content: space-between;
}
.footer__logo{
	font-size: 46px;
	font-weight: 700;
	color: #ccc;
	margin-bottom: 30px;
}
.footer__social{
	margin-bottom: 25px;
}
.footer__text{
	font-size: 15px;
	color: #999;
	margin-bottom: 30px;
}
.footer__social-header{
	padding-bottom: 15px;

	font-size: 14px;
	color: #333;

	border-bottom: 1px solid #e5e5e5;
}
.footer__social-header b{
	font-size: 18px;
}
.footer__social-content{
	padding-top: 15px;
	font-size: 15px;
	color: #999;
	font-style: italic;
}
.footer__social-content a{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;

	font-size: 25px;

	color: #95e1d3;
}
.footer__col--first{
	width: 40%;
}
.footer__col--second{
	width: 29%;
}
.footer__col--third{
	width: 22%;
}

.footer__title{
	margin: 30px 0px;

	text-transform: uppercase;
	color: #333;
	font-size: 14px;
}

/*******BLOGS*****/
.blogs__item{
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}

.blogs__img{
	width: 120px;
	height: 80px;
}
.blogs__content{
	padding-left: 20px;

}
.blogs__title{
	display: block;
	margin-bottom: 5px;
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	text-transform: uppercase;
	text-decoration: none;
}
.blogs__title:hover{
	text-decoration: underline;
	color: inherit;
}
.blogs__date{
	font-size: 13px;
	color: #999;
	font-style: italic;	
	font-weight: 300;
}

/*****INSTAGRAM*****/
.instagram{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.instagram__item{
	width: 31.5333%;
	border-bottom: 1px solid #fff;
}
.instagram__item img{
	display: block;
}

/*****SUBSCRIBE*****/
.subscribe{
	width: 100%;
	max-width: 380px;
	display: flex;
}
.subscribe__input{
	width: 60%;
	height: 40px;
	padding: 15px;

	background: #fff;
	border: 1px solid #e7e7e7;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
}
.subscribe__btn{
	width: 40%;
	height: 40px;
	padding: 10px 30px;

	background-color: #95e1d3;
	border:0;
	cursor: pointer;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.1;

	transition: background .2s linear;
}
.subscribe__btn:hover{
	background-color: #74c7b8;
}

/******Copyright****/
.copyright{
	padding: 20px 0px;
	border-top: 1px solid #e5e5e5;

	text-align: center;
	font-size: 14px;
	color: #333;

}
.copyright span{
	color: #f38181;
}

@media(max-width: 1230px){
	
	/*INTRO*/
	.header__inner-main{
		font-size: 120px;
	}
	.header__inner-top{
		font-size: 52px;
	}
}
@media(max-width: 990px){
	/*INTRO*/
	.header__inner-main{
		font-size: 80px;
	}
	.header__inner-top{
		font-size: 32px;
	}
}
@media(max-width: 700px){
	.header__nav nav{
		display: none;
	}
}
@media(max-width: 650px){
	/*INTRO*/
	.header__inner-main{
		font-size: 40px;
		line-height: 50px;
	}
	.header__inner-top{
		font-size: 22px;
	}
	.header__inner-btn{
		margin-top: 85px;
	}
}
@media(max-width: 510px){
	.header__bottom{
		flex-wrap: wrap;
		justify-content: center;
	}
}



/*font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
